$board-background-color: #FEFFFE;
$board-border-color: #233a3a;

$board-chip-background-color-inactive: #178487;
$board-chip-background-color-active: #B8DBD9;
$board-chip-background-color-active-done: #f19a3e;

$login-area-shadow: #e3f2f2;

$avatar-background-color: #BFD7EA;